# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Full Stack Learning\Java Programming Masterclass covering Java 11 & Java 17\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
